<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  IgnorableNamespaces="uap uap5 rescap com desktop">

	<!-- store version -->
	<Identity
	  Name="18699myfix16.BatteryTracker"
	  Publisher="CN=07065B9D-9C58-40F8-B757-7BD2595084E8"
	  Version="1.4.2.0" />

	<Properties>
		<DisplayName>Battery Tracker</DisplayName>
		<PublisherDisplayName>myfix16</PublisherDisplayName>
		<Logo>Assets\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
	</Dependencies>

	<Resources>
		<Resource Language="en-US"/>
		<Resource Language="zh-CN"/>
		<Resource Language="zh-Hant"/>
		<Resource Language="uk"/>
	</Resources>

	<Applications>
		<Application Id="App"
		  Executable="$targetnametoken$.exe"
		  EntryPoint="$targetentrypoint$">
			<uap:VisualElements
			  DisplayName="Battery Tracker"
			  Description="Show battery remaining percentage on taskbar"
			  BackgroundColor="transparent"
			  Square150x150Logo="Assets\Square150x150Logo.png"
			  Square44x44Logo="Assets\Square44x44Logo.png">
				<uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"  Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png"/>
				<uap:SplashScreen Image="Assets\SplashScreen.png" />
				<uap:InitialRotationPreference>
					<uap:Rotation Preference="portrait"/>
					<uap:Rotation Preference="landscape"/>
					<uap:Rotation Preference="landscapeFlipped"/>
					<uap:Rotation Preference="portraitFlipped"/>
				</uap:InitialRotationPreference>
				<!-- <uap:LockScreen BadgeLogo="Assets\BadgeLogo.png" Notification="badge"/> -->
			</uap:VisualElements>
			<Extensions>
				<!--Specify which CLSID to activate when app notification clicked-->
				<desktop:Extension Category="windows.toastNotificationActivation">
					<desktop:ToastNotificationActivation ToastActivatorCLSID="2292F97C-4917-400C-95FE-88E9EC88FBF8" />
				</desktop:Extension>

				<!--Register COM CLSID LocalServer32 registry key-->
				<com:Extension Category="windows.comServer">
					<com:ComServer>
						<com:ExeServer Executable="BatteryTracker.exe" Arguments="----AppNotificationActivated:" DisplayName="App notification activator">
							<com:Class Id="2292F97C-4917-400C-95FE-88E9EC88FBF8" DisplayName="App notification activator"/>
						</com:ExeServer>
					</com:ComServer>
				</com:Extension>

				<!-- Startup task -->
				<uap5:Extension
					Category="windows.startupTask">
					<uap5:StartupTask
						TaskId="BatteryTrackerStartupTask"
						Enabled="true"
						DisplayName="Battery Tracker" />
				</uap5:Extension>
			</Extensions>
		</Application>
	</Applications>

	<Capabilities>
		<rescap:Capability Name="runFullTrust" />
	</Capabilities>
</Package>
